body{
    font-family: Arial;
    background:#f4f4f4;
    margin:0;
}

.container{
    width:400px;
    margin:60px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

h2{
    color:#005BAC;
}

label{
    display:block;
    text-align:left;
    margin-top:10px;
    font-weight:bold;
}

input, select, textarea{
    width:100%;
    padding:8px;
    margin-top:5px;
}

button{
    width:100%;
    margin-top:15px;
    padding:10px;
    background:#005BAC;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#003F7F;
}